.about {
  height: 100%;
  width: 100%;
  text-align: center;

  &__mayor-info {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }

  &__mayor-img {
    clip-path: circle(50% at 50% 50%);
  }
}
