.contact-us {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8vh;
  margin-bottom: 5vh;

  @media only screen and (max-width: 900px) {
    gap: 5vh;
  }

  @media only screen and (max-width: 600px) {
    height: 50rem;
    gap: 5vh;
  }

  h1 {
    font-family: $head-font-1;
    font-size: 3.5vw;
    text-transform: capitalize;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    margin-top: 12vh;

    @media only screen and (max-width: 900px) {
      font-size: 5vw;
      margin-top: 8vh;
    }

    @media only screen and (max-width: 600px) {
      font-size: 4.5vw;
      margin-top: 5vh;
    }

    span {
      letter-spacing: -0.2em;
    }
  }

  &__inputsContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6vh;

    @media only screen and (max-width: 900px) {
      gap: 3vh;
    }
    @media only screen and (max-width: 600px) {
      gap: 2vh;
    }

    label {
      font-family: $head-font-2;
      font-size: 1.8vw;
      font-weight: 100;
      text-transform: capitalize;
      text-shadow: 0 1px 2px black;

      @media only screen and (max-width: 900px) {
        font-size: 3vw;
      }
      @media only screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  button {
    height: 5vh;
    width: 10vw;
    margin: 0 auto;
    border: none;
    border-radius: 7px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
    font-family: $head-font-2;
    font-size: 1vw;

    @media only screen and (max-width: 900px) {
      width: 20vw;
      font-size: 2vw;
    }

    @media only screen and (max-width: 600px) {
      height: 3vh;
      width: 15vw;
      font-size: 3vw;
    }
  }

  &__inputs {
    height: 5vh;
    width: 15vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
    margin-top: 3vh;
    padding: 5px;
    font-family: $body-font;
    font-size: 1vw;
    transition: all 0.1s;

    &:focus {
      outline: none;
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }

    @media only screen and (max-width: 900px) {
      width: 20vw;
      font-size: 2vw;
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__textarea {
    height: 20vh;
    width: 30vw;
    border: none;
    border-radius: 5px;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
    margin-top: 2vh;
    font-family: $body-font;
    font-size: 1vw;
    transition: all 0.1s;

    &:focus {
      outline: none;
      border-bottom: 3px solid green;
    }

    &:focus:invalid {
      border-bottom: 3px solid red;
    }
    @media only screen and (max-width: 900px) {
      width: 40vw;
      font-size: 2vh;
    }
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.mobile {
  display: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
  margin-top: 3vh;
  padding: 5px;
  font-family: $body-font;
  transition: all 0.1s;

  &:focus {
    outline: none;
    border-bottom: 3px solid green;
  }

  &:focus:invalid {
    border-bottom: 3px solid red;
  }

  @media only screen and (max-width: 600px) {
    display: inline-block;
    margin: 0 auto;
    height: 3.5rem;
    width: 10rem;
  }
}

.mobile-text {
  display: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0 1rem 2rem rgba($color-black, 0.7);
  margin-top: 3vh;
  padding: 5px;
  font-family: $body-font;
  transition: all 0.1s;

  &:focus {
    outline: none;
    border-bottom: 3px solid green;
  }

  &:focus:invalid {
    border-bottom: 3px solid red;
  }

  @media only screen and (max-width: 600px) {
    display: inline-block;
    margin: 0 auto;
    height: 8rem;
    width: 14rem;
  }
}
