.accordion-body {
  font-family: $body-font;

  @media only screen and(max-width:600px) {
    height: 70vh;
  }

  &__accordion {
    width: 47.5vw;
    margin: 90px auto;
    color: black;
    background-color: white;
    padding: 45px 45px;
    box-shadow: 0 2rem 4rem black;
    border-radius: 5px;

    @media only screen and(max-width:1200px) {
      width: 65vw;
      padding: 2rem 2rem;
    }

    @media only screen and(max-width:900px) {
      width: 75vw;
    }

    @media only screen and(max-width:600px) {
      width: 85vw;
    }
  }

  &__heading {
    font-size: 2.5vw;
    text-align: center;
    margin-bottom: 2.5vh;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;

    @media only screen and (max-width: 1200px) {
      font-size: 6vw;
    }

    @media only screen and (max-width: 600px) {
      font-size: 8vw;
    }
  }

  &__container {
    position: relative;
    margin: 10px 10px;

    hr {
      width: 100;
      margin-left: 0;
      border: 1px solid grey;
    }
  }

  &__label {
    height: 6vh;
    position: relative;
    background-color: white;
    padding: 10px 0;
    font-size: 30px;
    cursor: pointer;

    @media only screen and (max-width: 900px) {
      height: 4vh;
      padding: 2px 0;
      font-size: 3vw;
    }

    @media only screen and (max-width: 600px) {
      height: 2.5vh;
      font-size: 3.5vw;
    }

    &:before {
      content: "+";
      color: black;
      position: absolute;
      top: 50%;
      right: -5px;
      font-size: 30px;
      transform: translateY(-50%);

      @media only screen and (max-width: 600px) {
        font-size: 4vw;
      }
    }
  }

  .active &__label::before {
    content: "-";
    font-size: 30px;

    @media only screen and (max-width: 600px) {
      font-size: 4vw;
    }
  }

  &__content {
    position: relative;
    background: white;
    height: 0;
    font-size: 20px;
    text-align: justify;
    width: 100%;
    overflow: hidden;
    transition: 0.5s;

    p {
      margin-top: 2vh;

      @media only screen and (max-width: 1200px) {
        font-size: 1.8vw;
      }

      @media only screen and (max-width: 900px) {
        margin-top: 1.5vh;
        font-size: 2.3vw;
      }

      @media only screen and (max-width: 600px) {
        margin-top: 0.5vh;
        font-size: 2.7vw;
      }
    }
  }
  .active &__content {
    height: 150px;

    @media only screen and (max-width: 600px) {
      height: 8vh;
    }
  }
}
