* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  background-image: linear-gradient(
    to right bottom,
    #8cbf3f,
    #a4c433,
    #bdc826,
    #d7ca19,
    #f2cc0f
  );
  border-bottom: 1px solid $color-purple;

  @media only screen and (max-width: 600px) {
    height: 10vh;
  }

  &__logo-box {
    position: fixed;
    top: 0;
    left: 1rem;
    z-index: 9998;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__header-box {
    margin: 0 auto;
    height: 100%;
  }

  &__logo {
    width: 10vw;
  }

  &__head-main {
    font-family: $head-font-2;
    font-size: 5vw;
    font-weight: 100;
    text-transform: capitalize;
    text-align: center;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    animation: moveInLeft 1s ease-out;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.background {
  height: 100%;
  width: 100%;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #8cbf3f,
    #a4c433,
    #bdc826,
    #d7ca19,
    #f2cc0f
  );
  border-bottom: 1px solid $color-purple;

  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-top: 5vh;

  @media only screen and (max-width: 600px) {
    margin-top: 1rem;
  }

  &__img-2-box {
    margin-bottom: 5vh;
    width: 100%;

    @media only screen and(max-width:600px) {
      margin-bottom: 1vh;
    }
  }

  &__img-2 {
    width: 40vw;

    @media only screen and (max-width: 600px) {
      width: 35vh;
    }
  }

  &__heading-box1 {
    margin: 0 auto;
    width: 100%;
  }

  &__heading-info {
    font-size: 3.5vw;
    font-family: $head-font-1;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    text-align: center;

    @media only screen and (max-width: 600px) {
      font-size: 6vw;
    }

    span {
      letter-spacing: -0.2em;
    }
  }

  &__p-box {
    width: 100%;
    padding: 3rem;
  }
}

.info-p {
  font-size: 1.5vw;
  font-family: $body-font;
  font-weight: 300;

  @media only screen and(max-width:600px) {
    font-size: 3vw;
    font-weight: 600;
    text-align: start;
  }
}

.sponsors {
  height: 100%;
  width: 100%;
  margin-top: 8rem;

  @media only screen and(max-width:600px) {
    margin-top: 2rem;
    padding: 1rem;
  }

  &__heading-box {
    margin: 0 auto;
    margin-top: 10vh;

    @media only screen and(max-width:600px) {
      margin-top: 2vh;
    }
  }

  &__heading-text {
    margin-bottom: 1vh;
    font-size: 3.5vw;
    font-family: $head-font-1;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    text-align: center;

    @media only screen and(max-width:600px) {
      font-size: 5vw;
    }

    span {
      letter-spacing: -0.2em;
    }
  }

  &__sponsor-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh 8vw;
    padding: 2rem;
    margin-top: 12vh;

    @media only screen and (max-width: 600px) {
      margin-top: 3vh;
      padding: 0;
      gap: 6vh 4vw;
    }
  }

  &__card {
    text-decoration: none;
    height: 45vh;
    width: 20vw;
    background-color: rgba($color-yellow, 0.6);
    padding: 5vh 0.5vw;
    text-align: center;
    border-radius: 1.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    transition: transform 0.3s;

    @media only screen and(max-width:600px) {
      height: 18vh;
      width: 35vw;
      padding: 2rem;
      border: 1px solid black;
      background-color: transparent;
      box-shadow: none;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.3);
    }
  }

  &__icon {
    height: 18vh;
    width: 14vw;
    margin-bottom: 10vh;

    @media only screen and(max-width:600px) {
      height: 11vh;
      width: 25vw;
    }
  }

  &__heading-card {
    font-family: $head-font-2;
    font-size: 2.5vw;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.clip-path {
  clip-path: circle(50% at 50% 50%);
}

.footer {
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    #8cbf3f,
    #a4c433,
    #bdc826,
    #d7ca19,
    #f2cc0f
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 5vh;
  padding: 3rem;

  @media only screen and (max-width: 600px) {
    padding: 0.5;
    gap: 1rem;
  }

  &__follow {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 1200px) {
      width: 45%;
    }

    @media only screen and (max-width: 900px) {
      width: 45%;
    }
    @media only screen and (max-width: 600px) {
      gap: 1rem;
    }

    p {
      margin-top: 5vh;

      @media only screen and (max-width: 900px) {
        margin-top: 1vh;
        font-size: 2.5vw;
      }

      @media only screen and (max-width: 600px) {
        margin-top: 1vh;
        font-size: 3vw;
      }
    }
  }

  &__icon-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: 600px) {
      padding: 3px;
    }
  }

  &__follow-head {
    font-family: $head-font-1;
    font-weight: 100;
    font-size: 3vw;

    @media only screen and (max-width: 900px) {
      font-size: 7.5vw;
    }

    @media only screen and (max-width: 600px) {
      font-size: 6vw;
    }
  }

  &__copy {
    font-family: $body-font;
    font-size: 2vw;
  }
  &__link {
    width: 100%;
    text-decoration: none;
  }
  &__img {
    height: 10vh;
    transition: all 0.8s;

    @media only screen and (max-width: 900px) {
      height: 7vh;
    }

    @media only screen and (max-width: 600px) {
      height: 4vh;
    }

    &:hover {
      transform: translateY(-1.5rem) scale(1.3);
    }
  }

  &__info {
    width: 48%;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    font-family: $body-font;

    @media only screen and (max-width: 1200px) {
      width: 45%;
    }

    @media only screen and (max-width: 900px) {
      width: 45%;
    }
    @media only screen and (max-width: 600px) {
      gap: 1px;
    }
  }

  &__text {
    font-size: 1.5vw;
    @media only screen and (max-width: 900px) {
      font-size: 3.5vw;
    }
    @media only screen and (max-width: 600px) {
      font-size: 3vw;
    }
  }

  &__activity {
    list-style: none;
    text-align: justify;
    margin-left: 15vw;
    margin-top: 1vh;

    @media only screen and (max-width: 1200px) {
      margin-left: 5vw;
      margin-top: 0;
    }

    @media only screen and (max-width: 900px) {
      margin-left: 0;
      margin-top: 0;
    }

    @media only screen and (max-width: 600px) {
      font-size: 3vw;
      margin-left: 0;
      margin-top: 0;
    }

    :nth-child(1) {
      font-size: 2.5vw;
      font-family: $head-font-1;
      font-weight: bolder;
      margin-bottom: 2vh;

      @media only screen and (max-width: 1200px) {
        font-size: 3.5vw;
        margin-bottom: 1vh;
        margin-top: 1vh;
      }
      @media only screen and (max-width: 900px) {
        font-size: 5vw;
        margin-bottom: 5vh;
      }
      @media only screen and (max-width: 600px) {
        font-size: 4.5vw;
        margin-bottom: 1vh;
      }
    }

    :not(:nth-child(1)) {
      font-family: $body-font;
      font-size: 1.6vw;
      margin-bottom: 1.5vh;

      @media only screen and (max-width: 1200px) {
        margin-bottom: 0.5vh;
        font-size: 2.5vw;
      }

      @media only screen and (max-width: 900px) {
        margin-bottom: 0.5vh;
        font-size: 3vw;
      }
      @media only screen and (max-width: 600px) {
        margin-bottom: 0.5vh;
        font-size: 3vw;
      }
    }
  }

  &__address {
    margin-top: 2rem;
    font-size: 4vw;
  }
}

.dance:hover span {
  animation: dance 1s infinite;
  transform-origin: center center;
  display: inline-block;
}

.dance span:nth-child(1) {
  animation-delay: 0s;
}
.dance span:nth-child(2) {
  animation-delay: 0.075s;
}
.dance span:nth-child(3) {
  animation-delay: 0.15s;
}
.dance span:nth-child(4) {
  animation-delay: 0.225s;
}
.dance span:nth-child(5) {
  animation-delay: 0.3s;
}
.dance span:nth-child(6) {
  animation-delay: 0.375s;
}
.dance span:nth-child(7) {
  animation-delay: 0.45s;
}
.dance span:nth-child(8) {
  animation-delay: 0.525s;
}
.dance span:nth-child(9) {
  animation-delay: 0.6s;
}
.dance span:nth-child(10) {
  animation-delay: 0.675s;
}
.dance span:nth-child(11) {
  animation-delay: 0.745s;
}
.dance span:nth-child(12) {
  animation-delay: 0.825s;
}
.dance span:nth-child(13) {
  animation-delay: 0.9s;
}
.dance span:nth-child(14) {
  animation-delay: 0.975s;
}
.dance span:nth-child(15) {
  animation-delay: 1.045s;
}
.dance span:nth-child(16) {
  animation-delay: 1.15s;
}
.dance span:nth-child(17) {
  animation-delay: 1.225s;
}
.dance span:nth-child(18) {
  animation-delay: 1.3s;
}
.dance span:nth-child(19) {
  animation-delay: 1.375s;
}
.dance span:nth-child(20) {
  animation-delay: 1.445s;
}
.dance span:nth-child(21) {
  animation-delay: 1.525s;
}
.dance span:nth-child(22) {
  animation-delay: 1.6s;
}
.dance span:nth-child(23) {
  animation-delay: 1.675s;
}
.dance span:nth-child(24) {
  animation-delay: 1.745s;
}
.dance span:nth-child(25) {
  animation-delay: 1.825s;
}
.dance span:nth-child(26) {
  animation-delay: 1.9s;
}
.dance span:nth-child(27) {
  animation-delay: 1.975s;
}
.dance span:nth-child(28) {
  animation-delay: 2.045s;
}
.dance span:nth-child(29) {
  animation-delay: 2.15s;
}
@keyframes dance {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
