.gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4vh;

  &__heading {
    margin: 0 auto;
    margin-bottom: 5vh;
    width: 50%;
    font-family: $head-font-1;
    font-size: 4vw;
    text-transform: capitalize;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;

    span {
      letter-spacing: -0.2em;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10vh 1vw;

  @media only screen and (max-width: 1200px) {
    gap: 3vh 2vw;
  }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding: 3rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  max-width: 1200px;

  @media only screen and (max-width: 1200px) {
    margin-top: 2vh;
  }

  @media only screen and (max-width: 600px) {
    margin-top: 25vh;
  }
}

.model-img {
  height: 70vh;
  width: 80%;

  @media only screen and (max-width: 1200px) {
    height: 60vh;
  }

  @media only screen and (max-width: 600px) {
    height: 30vh;
  }
}

.display {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem 4rem;

  @media only screen and(max-width:600px) {
    display: none;
  }
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  margin-left: -60rem;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;

  @media only screen and (max-width: 1200px) {
    top: 35%;
    margin-left: -48vw;
  }

  @media only screen and (max-width: 600px) {
    top: 55%;
    margin-left: -18rem;
  }
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;

  @media only screen and (max-width: 600px) {
    right: -1.5rem;
  }
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.number-text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 11rem;

  @media only screen and (max-width: 600px) {
    left: 2.5rem;
  }
}

.caption-container {
  text-align: center;
  font-family: $body-font;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
  height: 15vh;
  width: 15vw;

  @media only screen and (max-width: 900px) {
    height: 12.5vh;
    width: 12.5vw;
  }

  @media only screen and (max-width: 600px) {
    width: 30vw;
  }
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  height: 35vh;
  width: 30vw;

  @media only screen and (max-width: 900px) {
    height: 18vh;
    width: 35vw;
  }

  @media only screen and (max-width: 600px) {
    height: 15vh;
    width: 40vw;
  }
}

.hover-shadow:hover {
  box-shadow: 0 4rem 6rem 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 8vh;
  margin-top: 14vh;
  margin-bottom: 6vh;

  @media only screen and (max-width: 600px) {
    margin-top: 5vh;
    gap: 3vh;
  }

  &__heading {
    font-family: $head-font-1;
    font-size: 4vw;
    text-transform: capitalize;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;

    @media only screen and (max-width: 600px) {
      font-size: 4.5vw;
    }
    span {
      letter-spacing: -0.2em;
    }
  }

  &__video-box {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 4rem;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
  }

  &__mobileAdjustment {
    @media only screen and (max-width: 1200px) {
      height: 30vh;
      width: 40vw;
    }

    @media only screen and (max-width: 600px) {
      height: 25vh;
      width: 65vw;
    }
  }
}
