.slider {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.slider-headingBox {
  margin: 0 auto;
  margin-bottom: 5vh;

  &__heading {
    font-size: 3.5vw;
    font-family: $head-font-1;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    span {
      letter-spacing: -0.2em;
    }
  }
}

.slideshow-container {
  width: 80%;
  max-height: 100vh;
  position: relative;
  margin: 0 auto;
  margin-top: 12vh;
}

.text {
  color: $color-white;
  font-size: 1.5vw;
  padding: 0.8vh 1.2vw;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-shadow: 3px 5px 2px rgb(251, 5, 222);
  text-align: center;
}

.numberText {
  color: $color-black;
  font-size: 1.2vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide-img {
  height: 100vh;
  width: 100%;
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.dance:hover span {
  animation: dance 1s infinite;
  transform-origin: center center;
  display: inline-block;
}

.dance span:nth-child(1) {
  animation-delay: 0s;
}
.dance span:nth-child(2) {
  animation-delay: 0.075s;
}
.dance span:nth-child(3) {
  animation-delay: 0.15s;
}
.dance span:nth-child(4) {
  animation-delay: 0.225s;
}
.dance span:nth-child(5) {
  animation-delay: 0.3s;
}
.dance span:nth-child(6) {
  animation-delay: 0.375s;
}
.dance span:nth-child(7) {
  animation-delay: 0.45s;
}
.dance span:nth-child(8) {
  animation-delay: 0.525s;
}
.dance span:nth-child(9) {
  animation-delay: 0.6s;
}
.dance span:nth-child(10) {
  animation-delay: 0.675s;
}
.dance span:nth-child(11) {
  animation-delay: 0.745s;
}
.dance span:nth-child(12) {
  animation-delay: 0.825s;
}
.dance span:nth-child(13) {
  animation-delay: 0.9s;
}
.dance span:nth-child(14) {
  animation-delay: 0.975s;
}
.dance span:nth-child(15) {
  animation-delay: 1.045s;
}
.dance span:nth-child(16) {
  animation-delay: 1.15s;
}
.dance span:nth-child(17) {
  animation-delay: 1.225s;
}
.dance span:nth-child(18) {
  animation-delay: 1.3s;
}
.dance span:nth-child(19) {
  animation-delay: 1.375s;
}
.dance span:nth-child(20) {
  animation-delay: 1.445s;
}
.dance span:nth-child(21) {
  animation-delay: 1.525s;
}
.dance span:nth-child(22) {
  animation-delay: 1.6s;
}
.dance span:nth-child(23) {
  animation-delay: 1.675s;
}
.dance span:nth-child(24) {
  animation-delay: 1.745s;
}
.dance span:nth-child(25) {
  animation-delay: 1.825s;
}
.dance span:nth-child(26) {
  animation-delay: 1.9s;
}
.dance span:nth-child(27) {
  animation-delay: 1.975s;
}
.dance span:nth-child(28) {
  animation-delay: 2.045s;
}
.dance span:nth-child(29) {
  animation-delay: 2.15s;
}
@keyframes dance {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
