.slider {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10vh;

  @media only screen and(max-width:900px) {
    margin-top: 4vh;
  }

  @media only screen and(max-width:600px) {
    margin-top: 3vh;
  }
}

.slider-headingBox {
  margin: 0 auto;
  margin-bottom: 2rem;

  @media only screen and (max-width: 600px) {
    display: none;
  }

  &__heading {
    font-size: 3.5vw;
    font-family: $head-font-1;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;
    span {
      letter-spacing: -0.2em;
    }
  }
}
.slider-headingMobile {
  display: none;
  width: 100%;
  text-align: center;
  margin-bottom: 5rem;

  @media only screen and (max-width: 600px) {
    display: inline-block;
    margin-bottom: 2vh;
  }

  &__heading {
    font-size: 3.5vw;
    font-family: $head-font-1;
    text-transform: capitalize;
    font-weight: 100;
    color: rgba(159, 86, 215, 0.99);
    text-shadow: rgb(0, 204, 41) 2px 2px 2px;

    @media only screen and (max-width: 600px) {
      font-size: 6vw;
    }
    span {
      letter-spacing: -0.2em;
    }
  }
}

.slideshow-container {
  width: 80%;
  position: relative;
  margin: 0 auto;
  margin-top: 8vh;

  @media only screen and (max-width: 1200px) {
    width: 85%;
  }
  @media only screen and (max-width: 900px) {
    margin-top: 5vh;
  }

  @media only screen and (max-width: 600px) {
    display: none;
  }
}
.mobile-view {
  display: none;

  @media only screen and (max-width: 600px) {
    display: block;
    margin: 0 auto;
  }

  &__img {
    width: 80vw;
  }
}

.text {
  font-size: 1.5vw;
  font-family: $head-font-1;
  color: $color-white;
  padding: 0.8vh 1.2vw;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-shadow: 3px 5px 2px rgb(251, 5, 222);
  text-align: center;
}

.numberText {
  color: $color-black;
  font-size: 1.2vw;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.mySlides {
  display: none;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.prev-1,
.next-1 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next-1 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev-1:hover,
.next-1:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.slide-img {
  height: 95vh;
  width: 100%;

  @media only screen and (max-width: 900px) {
    height: 65vh;
  }
}

.active,
.dot:hover {
  background-color: #717171;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
